<div class="text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis eros non enim euismod, vitae rutrum felis hendrerit. Aliquam erat volutpat. Integer eget ligula sed tellus volutpat maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce odio elit, ultrices ut sollicitudin ac, eleifend semper nunc. Praesent sit amet risus lacus. Etiam posuere tellus at ex aliquam auctor.

Nunc mollis tellus in nisi sollicitudin, ac auctor magna molestie. Vestibulum ut quam sodales, ultrices turpis quis, gravida dui. Proin aliquam arcu tellus, et blandit nisi accumsan ac. Sed convallis dui a nunc bibendum dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vel velit turpis. Vestibulum interdum magna mauris, id finibus orci suscipit nec. Nunc laoreet ultricies congue. Fusce et nisi non quam porta ultricies. Phasellus non lorem at turpis ornare cursus.

Nullam accumsan leo vulputate congue faucibus. Praesent condimentum velit nisl, ac varius magna gravida eget. Quisque rhoncus lorem nec nibh iaculis, ac blandit eros commodo. Proin at aliquet felis. Donec at urna eget odio suscipit ultrices. Nulla facilisi. Etiam nec quam quis ligula malesuada sodales. Mauris sapien sem, eleifend ut fringilla eu, accumsan auctor felis. In bibendum, erat id fermentum blandit, ex nulla tempor lectus, in vehicula quam massa in eros. Suspendisse potenti. Donec sagittis blandit elit vel consectetur. Sed condimentum nisi vel orci commodo, a auctor libero bibendum.

</div>

<section id="portfolio">
            <div class="container">
                <h2>The Best <span>Cars</span></h2>
                <div class="thumbnails-wrapper">
                    <img src="uploads/1.jpg" class="project-thumbnails">
                    <img src="uploads/2.jpg" class="project-thumbnails">
                    <img src="uploads/3.jpg" class="project-thumbnails">
                </div>
            </div>
        </section>
		
		
<div class="text">
 Praesent sagittis eros non enim euismod, vitae rutrum felis hendrerit. Aliquam erat volutpat. Integer eget ligula sed tellus volutpat maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce odio elit, ultrices ut sollicitudin ac, eleifend semper nunc. Praesent sit amet risus lacus. Etiam posuere tellus at ex aliquam auctor.

Nunc mollis tellus in nisi sollicitudin, ac auctor magna molestie. Vestibulum ut quam sodales, ultrices turpis quis, gravida dui. Proin aliquam arcu tellus, et blandit nisi accumsan ac. Sed convallis dui a nunc bibendum dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vel velit turpis. Vestibulum interdum magna mauris, id finibus orci suscipit nec. Nunc laoreet ultricies congue. Fusce et nisi non quam porta ultricies. Phasellus non lorem at turpis ornare cursus.

Nullam accumsan leo vulputate congue faucibus. Praesent condimentum velit nisl, ac varius magna gravida eget. Quisque rhoncus lorem nec nibh iaculis, ac blandit eros commodo. Proin at aliquet felis. Donec at urna eget odio suscipit ultrices. Nulla facilisi. Etiam nec quam quis ligula malesuada sodales. Mauris sapien sem, eleifend ut fringilla eu, accumsan auctor felis. In bibendum, erat id fermentum blandit, ex nulla tempor lectus, in vehicula quam massa in eros. Suspendisse potenti. Donec sagittis blandit elit vel consectetur. Sed condimentum nisi vel orci commodo, a auctor libero bibendum.

</div>